{% extends "layouts/main.html" %}

{% set pageName = 'Application sent' %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: pageName
    }) }}

      <p>
        We have sent a confirmation email to {{data.new.emailAddress}}. 
      </p>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p> We've passed your application on to the Ministry of Juggling. </p>
      <p>We will contact you with the outcome of your application within 2 weeks. </p>

      <h2 class="govuk-heading-m">
        Give us feedback (only takes 30 seconds)
      </h2>
      <p>
        <a href""=>Start survey</a>
      </p>
  </div>
</div>

{% endblock %}
